@use "../abstracts/mixins.module";
@use "../abstracts/variables.module";

@keyframes skeleton-loading-light {
  0% {
    background-color: variables.$color-light-gray-animation-start;
  }

  100% {
    background-color: variables.$color-light-gray-animation-end;
  }
}

@keyframes skeleton-loading-dark {
  0% {
    background-color: variables.$color-very-dark-blue-animation-start;
  }

  100% {
    background-color: variables.$color-very-dark-blue-animation-end;
  }
}

@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }

  100% {
    opacity: 100;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
