@use '../abstracts/mixins.module';
@use '../abstracts/variables.module';

@keyframes skeleton-loading-light {
  0% {
    background-color: variables.$color-light-gray-animation-start;
  }

  100% {
    background-color: variables.$color-light-gray-animation-end;
  }
}

@keyframes skeleton-loading-dark {
  0% {
    background-color: variables.$color-very-dark-blue-animation-start;
  }

  100% {
    background-color: variables.$color-very-dark-blue-animation-end;
  }
}
