@use '../abstracts/variables.module';

$transition-time: 200ms;

.text {
  &--light {
    color: variables.$color-very-dark-blue-light-text;
  }

  &--dark {
    color: variables.$color-white-dark-mode-text-light-els;
  }
}

.background {
  transition: color $transition-time, background-color $transition-time;
  &--light {
    background-color: variables.$color-very-light-gray-light-bg;
  }

  &--dark {
    background-color: variables.$color-very-dark-blue-dark-bg;
  }
}

.a {
  transition: color $transition-time;
  &--light {
    color: variables.$color-very-dark-blue-light-text;
  }

  &--dark {
    color: variables.$color-white-dark-mode-text-light-els;
  }
}
