//Colors
$color-dark-blue-light-els: hsl(209, 23%, 22%);
$color-very-dark-blue-dark-bg: hsl(207, 26%, 17%);
$color-very-dark-blue-light-text: hsl(200, 15%, 8%);
$color-dark-gray-light-input: hsl(0, 0%, 52%);
$color-very-light-gray-light-bg: hsl(0, 0%, 98%);
$color-white-dark-mode-text-light-els: hsl(0, 0%, 100%);
$color-error: hsl(357, 100%, 42%);
$color-light-gray-animation-start: hsl(200, 20%, 70%);
$color-light-gray-animation-end: hsl(200, 20%, 87%);
$color-very-dark-blue-animation-start: hsl(207, 26%, 36%);
$color-very-dark-blue-animation-end: hsl(207, 26%, 28%);

//Shadows
$shadow-light-black: rgba(0, 0%, 0%, 0.1);
