@use '../../sass/abstracts/mixins.module';

.country-list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 15%;
  list-style: none;
  row-gap: 4rem;

  @include mixins.element-background-theme-classes;
}
