@use '../../sass/abstracts/variables.module';
@use '../../sass/abstracts/mixins.module';

.country {
  background-color: variables.$color-white-dark-mode-text-light-els;
  box-shadow: 0.1rem 0rem 0.8rem variables.$shadow-light-black;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;

  &--light {
    @include mixins.element-theme(light);
  }

  &--dark {
    @include mixins.element-theme(dark);
  }

  &__flag {
    max-width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.4rem;

    &__details {
      &__property {
        &__name {
          font-weight: 600;
        }
      }
    }
  }
}
