@use '../sass/abstracts/mixins.module';
@use '../sass/abstracts/variables.module';

.country {
  padding-inline: 5%;
  &__back-btn {
    cursor: pointer;
    color: inherit;

    padding: 0.2rem 1.5rem;
    border: none;
    display: flex;
    align-items: center;
    //TODO: fix shadow
    box-shadow: -0.1rem -0.1rem 0.5rem 0.1rem variables.$shadow-light-black,
      0.1rem 0.1rem 0.5rem 0.1rem variables.$shadow-light-black;

    @include mixins.element-background-theme-classes;

    &__icon {
      width: 2.5rem;
      height: 2.4rem;
    }
  }
}
