@use "../abstracts/variables.module";
@use "../abstracts/mixins.module";
@use "../../sass/base/colors.module";

.country {
  background-color: variables.$color-white-dark-mode-text-light-els;
  box-shadow: 0.1rem 0rem 0.8rem variables.$shadow-light-black;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 34rem;
  transition: opacity 0.3s;

  @include mixins.element-background-theme-classes;

  &--skeleton {
    gap: 1rem;

    &__skeleton-flag {
      height: 17rem;
    }
  }

  &__flag {
    max-width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.4rem;

    &--skeleton {
      &__name {
        width: 40%;
      }
    }

    &__details {
      &--skeleton {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 70%;

        & > *:nth-child(2) {
          width: 60%;
        }
        & > *:last-child {
          width: 65%;
        }
      }
      &__property {
        &__name {
          font-weight: 600;
        }
      }
    }
  }
}
