@use '../abstracts/mixins.module';
@use '../abstracts/variables.module';
@use '../../sass/base/colors.module';
@use '../../sass/base/animations.module';

.country-wrapper {
  padding-inline: 8%;
  &__back-btn {
    cursor: pointer;
    margin-top: 4rem;
    padding: 0.2rem 1.8rem;

    border: none;
    display: flex;
    gap: 1rem;
    width: min-content;
    align-items: center;
    box-shadow: -0.1rem -0.1rem 0.5rem 0.1rem variables.$shadow-light-black,
      0.1rem 0.1rem 0.5rem 0.1rem variables.$shadow-light-black;

    @include mixins.element-background-theme-classes;

    &__icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.country {
  display: grid;
  grid-template-columns: 1fr;

  row-gap: 3rem;
  column-gap: 10rem;

  margin-top: 5rem;
  @include mixins.respond(tab-land) {
    grid-template-columns: 3fr 4fr;
  }
  @include mixins.respond(desktop) {
    grid-template-columns: 3fr 4fr;
  }

  &__alert {
    margin-top: 10rem;
  }

  &__flag {
    max-width: 100%;
    box-shadow: 0.1rem 0rem 0.8rem variables.$shadow-light-black;
    animation: fade-in-from-left 1000ms;
    &--skeleton {
      height: 30rem;
      animation: none;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    animation: fade-in-from-right 1000ms;

    &--skeleton {
      animation: none;
    }

    @include mixins.respond(tab-land) {
      gap: 5rem;
    }

    @include mixins.respond(desktop) {
      gap: 5rem;
    }

    &__name {
      &--skeleton {
        width: 20%;
      }
    }

    &__details {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 3rem;

      @include mixins.respond(tab-land) {
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        column-gap: 10rem;
      }

      @include mixins.respond(desktop) {
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        column-gap: 10rem;
      }

      & > * {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      &--skeleton {
        width: 30%;
      }

      &__property {
        &__name {
          font-weight: 600;
        }
      }
    }

    &__borders {
      &__links {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        gap: 2rem;

        &__link {
          @include mixins.element-background-theme-classes;
          font-size: 1.2;
          flex: 0 0 10rem;
          border-radius: 0.25rem;
          text-align: center;
          box-shadow: 0.1rem 0rem 0.8rem variables.$shadow-light-black;
          animation: fade-in 500ms;
        }
      }
    }
  }
}
