@use "../abstracts/mixins.module";

.country-list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10%;
  list-style: none;
  row-gap: 4rem;
  column-gap: 4rem;
  align-items: stretch;

  @include mixins.element-background-theme-classes;

  @include mixins.respond(tab) {
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }
  @include mixins.respond(tab-land) {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include mixins.respond(desktop) {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
