@use "../abstracts/variables.module";
@use "../abstracts/mixins.module";

.header {
  display: flex;
  min-height: 6rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  margin: 0 0 2.4rem 0;
  box-shadow: 0 0.1rem 0.8rem variables.$shadow-light-black;

  @include mixins.element-background-theme-classes;

  &__theme-toggle-btn {
    font-weight: 600;
    font-size: 1.2rem;
    color: inherit;

    background-color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__icon {
      & path {
        fill: variables.$color-white-dark-mode-text-light-els;
      }
    }
  }
}
