@use '../abstracts/variables.module';
@use '../abstracts/mixins.module';

.search-bar {
  padding: 1.4rem 3rem;
  min-width: 40%;

  border-radius: 0.6rem;
  display: flex;
  justify-content: flex-start;
  background-color: variables.$color-white-dark-mode-text-light-els;
  gap: 3rem;
  box-shadow: 0.1rem 0.1rem 1rem variables.$shadow-light-black;

  @include mixins.element-background-theme-classes;

  &__icon {
    min-width: 2rem;
    min-height: 2rem;
  }

  &__input {
    border: none;
    font-size: 1.2rem;
    background-color: inherit;
    flex: 1;

    &:focus {
      outline: none;
    }

    &--light {
      color: variables.$color-very-dark-blue-light-text;
    }

    &--light::placeholder {
      color: variables.$color-dark-gray-light-input;
      opacity: 0.5;
    }

    &--dark,
    &--dark::placeholder {
      color: variables.$color-white-dark-mode-text-light-els;
    }
  }
}
